#welcome-section {
  position: relative;
  min-height: calc(50vh + 100px);
  display: flex;
  justify-content: center;
  align-items: center;
}

#welcome-section .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Color oscuro con transparencia */
  z-index: 0;
  /* Asegura que esté por encima de la imagen de fondo */
}

.welcome-content {
  position: relative;
  z-index: 1;
  /* Asegura que el contenido esté por encima de la capa superpuesta */
}

/* Estilos adicionales personalizados */
.custom-section {
  padding: 80px 0;
  /* Espaciado interno */
  background-color: #f8f9fa;
  /* Color de fondo */
}

.custom-column {
  padding: 20px;
  border: 1px solid #ccc;
  /* Borde para visualización */
}

.custom-column p {
  margin-bottom: 10px;
}

/* Estilos para la tabla de contenido sticky */
.sticky-sidebar {
  position: -webkit-sticky;
  position: sticky;
  top: 20px;
  /* Ajusta la distancia desde arriba según sea necesario */
  height: calc(100vh - 40px);
  /* Ajusta la altura según sea necesario */
  overflow-y: auto;
  /* Permite desplazamiento vertical si el contenido excede la altura */
}

.table-of-contents {
  background-color: #f8f9fa;
  /* Color de fondo de la tabla de contenido */
  padding: 20px;
}

.table-of-contents h3 {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.table-of-contents ul {
  list-style-type: none;
  padding: 0;
}

.table-of-contents ul li {
  margin-bottom: 10px;
}

.table-of-contents ul li a {
  color: #333;
  text-decoration: none;
  transition: color 0.3s ease;
}

.table-of-contents ul li a:hover {
  color: #dd6d2c;
}

/* Estilos para el contenido principal */
#content-section {
  padding-top: 50px;
  /* Ajusta el espacio superior según sea necesario */
}

.content-section {
  margin-bottom: 40px;
  /* Ajusta el espacio entre secciones según sea necesario */
}

.custom-column h2 {
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

.custom-column h6 {
  font-size: 1.1rem;
}

.custom-column h3 {
  font-size: 2rem;
}

.custom-p p {
  font-size: 1.25rem;
}