body {
    user-select: none;
}

html {
    scroll-behavior: smooth;
  }  

/* Estilos para la barra de navegación */
.navbar {
    background-color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* Asegúrate de que la navbar esté sobre otros elementos */
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0,0,0,0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-brand img {
    width: 250px;
    /* Ajusta el ancho máximo según sea necesario */
    height: auto;
    /* Para mantener la proporción */
    vertical-align: middle;
    /* Alineación vertical centrada */
}

/* Estilo para el header */
header {
    margin-bottom: 20px;
    /* Ajusta el margen inferior según sea necesario */
}

/* Estilo para la sección principal */
.section {
    padding-top: calc(10vh + 20px);
    padding-bottom: 20px;
    min-height: calc(50vh + 100px); 
}

.carousel-indicators {
    position: relative;
    bottom: -20px;
    /* Adjust this value to move the indicators lower */
    color: black;
    /* Set indicator color */
}

.carousel-indicators li {
    background-color: black;
    /* Set indicator bullet color */
    border: none;
    /* Remove indicator bullet border */
    box-shadow: none;
    /* Remove indicator bullet box shadow */
    margin-right: 5px;
    /* Adjust space between indicators */
    width: 10px;
    /* Set indicator bullet width */
    height: 10px;
    /* Set indicator bullet height */
    border-radius: 50%;
    /* Round indicator bullet */
}

.carousel-control-prev,
.carousel-control-next {
    margin-top: -30px;
    /* Adjust space between controls and carousel */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: black;
    /* Ensure controls are black */
    border-radius: 50%;
    /* Round control button */
}

.bg-darkorange {
    background-color: #FFA500;
    /* Cambia el color a tu preferencia */
    padding: 50px 0;
    /* Ajusta el padding según sea necesario */
}

.bg-darkorange h2 {
    font-size: 36px;
    /* Tamaño de fuente para el título */
}

.bg-darkorange p {
    font-size: 18px;
    /* Tamaño de fuente para el párrafo */
}

.footer {
    padding: 50px 0;
    /* Ajusta el padding según sea necesario */
}

.footer h5 {
    font-size: 18px;
    /* Tamaño de fuente para los títulos */
    font-weight: bold;
    /* Opcional: si deseas negrita */
}

.footer ul li a {
    color: #ffffff;
    /* Color del texto */
    text-decoration: none;
    /* Sin subrayado */
}

.footer ul li a:hover {
    color: #f0ad4e;
    /* Cambio de color al pasar el ratón */
}

@media (max-width: 767.98px) {
    .mt-md-0 {
        margin-top: 5rem;
        /* Adjust this value to increase or decrease the space */
    }
}

.container-fluid {
    max-width: calc(80vw - 30px); /* Calcula el ancho máximo dinámicamente */
    margin: 0 auto; /* Centrado horizontal */
    padding-left: 15px; /* Añade padding a izquierda */
    padding-right: 15px; /* Añade padding a derecha */
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 20rem;
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.icon-image {
    width: 2em; /* Ajusta el tamaño según tus necesidades */
    height: 2em;
    /* margin-bottom: 1rem; Mantiene el margen inferior similar al ícono anterior */
}

@media (min-width: 992px) {
    .navbar-expand-lg>.container, .navbar-expand-lg>.container-fluid, .navbar-expand-lg>.container-lg, .navbar-expand-lg>.container-md, .navbar-expand-lg>.container-sm, .navbar-expand-lg>.container-xl {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        margin: 0 auto;
        max-width: calc(80vw - 30px);
    }
}
@media (max-width: 500px) {
    .section {
        padding-top: 5rem;
    }
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 600px; /* Ajusta este valor para aumentar el ancho del formulario */
    width: 100%;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    position: relative;
}

.message {
    color: rgba(88, 87, 87, 0.822);
    font-size: 14px;
}

.flex {
    display: flex;
    width: 100%;
    gap: 6px;
}

.form label {
    position: relative;
}

.form label .input {
    width: 100%;
    padding: 10px 10px 20px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 5px;
}

.form label .input + span {
    position: absolute;
    left: 10px;
    top: 15px;
    color: grey;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
}

.form label .input:placeholder-shown + span {
    top: 15px;
    font-size: 0.9em;
}

.form label .input:focus + span, .form label .input:valid + span {
    top: 30px;
    font-size: 0.7em;
    font-weight: 600;
}

.form label .input:valid + span {
    color: green;
}

.input01 {
    width: 100%;
    padding: 10px 10px 20px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 5px;
}

.form label .input01 + span {
    position: absolute;
    left: 10px;
    top: 50px;
    color: grey;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
}

.form label .input01:placeholder-shown + span {
    top: 40px;
    font-size: 0.9em;
}

.form label .input01:focus + span, .form label .input01:valid + span {
    top: 50px;
    font-size: 0.7em;
    font-weight: 600;
}

.form label .input01:valid + span {
    color: green;
}

.fancy {
    background-color: transparent;
    border: 2px solid #cacaca;
    border-radius: 0px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-weight: 390;
    letter-spacing: 2px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 8px 30px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    transition: all 0.3s ease-in-out;
    user-select: none;
    font-size: 13px;
}

.fancy::before {
    content: " ";
    width: 1.7rem;
    height: 2px;
    background: #cacaca;
    top: 50%;
    left: 1.5em;
    position: absolute;
    transform: translateY(-50%);
    transform: translateX(230%);
    transform-origin: center;
    transition: background 0.3s linear, width 0.3s linear;
}

.fancy .text {
    font-size: 1.125em;
    line-height: 1.33333em;
    padding-left: 2em;
    display: block;
    text-align: left;
    transition: all 0.3s ease-in-out;
    text-transform: lowercase;
    text-decoration: none;
    color: #818181;
    transform: translateX(30%);
}

.fancy .top-key {
    height: 2px;
    width: 1.5625rem;
    top: -2px;
    left: 0.625rem;
    position: absolute;
    background: white;
    transition: width 0.5s ease-out, left 0.3s ease-out;
}

.fancy .bottom-key-1 {
    height: 2px;
    width: 1.5625rem;
    right: 1.875rem;
    bottom: -2px;
    position: absolute;
    background: white;
    transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy .bottom-key-2 {
    height: 2px;
    width: 0.625rem;
    right: 0.625rem;
    bottom: -2px;
    position: absolute;
    background: white;
    transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy:hover {
    color: white;
    background: #cacaca;
}

.fancy:hover::before {
    width: 1.5rem;
    background: white;
}

.fancy:hover .text {
    color: white;
    padding-left: 1.5em;
}

.fancy:hover .top-key {
    left: -2px;
    width: 0px;
}

.fancy:hover .bottom-key-1,
.fancy:hover .bottom-key-2 {
    right: 0;
    width: 0;
}
