body {
    user-select: none;
}

html {
    scroll-behavior: smooth;
    /* overflow-x: hidden; */
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0.5rem;
    font-weight: bold;
    line-height: 1.2;
}

p {
    font-size: 1.1rem;
}


/* Estilos para la barra de navegación */

.navbar {
    background-color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    /* Asegúrate de que la navbar esté sobre otros elementos */
}

.welcome {
    width: 100%;
    height: 100%;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0,0,0,0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-brand img {
    width: 250px;
    height: auto;
    vertical-align: middle;
}


/* Estilo para el header */

header {
    margin-bottom: 20px;
    /* Ajusta el margen inferior según sea necesario */
}


/* Estilo para la sección principal */

.section {
    padding-top: calc(10vh + 20px);
    padding-bottom: 20px;
    min-height: calc(50vh + 100px);
    overflow: hidden;
    /* Evita el scroll vertical */
}

.carousel-indicators {
    position: relative;
    bottom: -20px;
    /* Adjust this value to move the indicators lower */
    color: black;
    /* Set indicator color */
}

.carousel-indicators li {
    background-color: black;
    /* Set indicator bullet color */
    border: none;
    /* Remove indicator bullet border */
    box-shadow: none;
    /* Remove indicator bullet box shadow */
    margin-right: 5px;
    /* Adjust space between indicators */
    width: 10px;
    /* Set indicator bullet width */
    height: 10px;
    /* Set indicator bullet height */
    border-radius: 50%;
    /* Round indicator bullet */
}

.carousel-control-prev,
.carousel-control-next {
    margin-top: -30px;
    /* Adjust space between controls and carousel */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: black;
    /* Ensure controls are black */
    border-radius: 50%;
    /* Round control button */
}

.bg-darkorange {
    background-color: #ffa500;
    /* Cambia el color a tu preferencia */
    padding: 50px 0;
    /* Ajusta el padding según sea necesario */
}

.bg-darkorange h2 {
    font-size: 36px;
    /* Tamaño de fuente para el título */
}

.bg-darkorange p {
    font-size: 18px;
    /* Tamaño de fuente para el párrafo */
}

.footer {
    padding: 50px 0;
    /* Ajusta el padding según sea necesario */
}

.footer h5 {
    font-size: 18px;
    /* Tamaño de fuente para los títulos */
    font-weight: bold;
    /* Opcional: si deseas negrita */
}

.footer ul li a {
    color: #ffffff;
    /* Color del texto */
    text-decoration: none;
    /* Sin subrayado */
}

.footer ul li a:hover {
    color: #f0ad4e;
    /* Cambio de color al pasar el ratón */
}

.logo-footer {
    width: 45%;
    padding-bottom: 2rem;
    padding-top: 1rem;
}

@media (max-width: 767.98px) {
    .mt-md-0 {
        margin-top: 5rem;
        /* Adjust this value to increase or decrease the space */
    }
}

.container-fluid {
    max-width: calc(80vw - 30px);
    /* Calcula el ancho máximo dinámicamente */
    margin: 0 auto;
    /* Centrado horizontal */
    padding-left: 15px;
    /* Añade padding a izquierda */
    padding-right: 15px;
    /* Añade padding a derecha */
}

li {
    font-weight: 100;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 14.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-body .card-text {
    text-align: left;
}

.icon-image {
    width: 2em;
    /* Ajusta el tamaño según tus necesidades */
    height: 2em;
}

.icon-image-card {
    width: 20em;
    height: 15em;
}

@media (min-width: 992px) {
    .navbar-expand-lg>.container,
    .navbar-expand-lg>.container-fluid,
    .navbar-expand-lg>.container-lg,
    .navbar-expand-lg>.container-md,
    .navbar-expand-lg>.container-sm,
    .navbar-expand-lg>.container-xl {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        margin: 0 auto;
        max-width: calc(80vw - 30px);
    }
}

@media (max-width: 500px) {
    .section {
        padding-top: 5rem;
    }
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 600px;
    /* Ajusta este valor para aumentar el ancho del formulario */
    width: 100%;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    position: relative;
}

@media (max-width: 500px) {
    .form {
        max-width: 800px;
    }
}

.message {
    color: rgba(88, 87, 87, 0.822);
    font-size: 14px;
}

.flex {
    display: flex;
    width: 100%;
    gap: 6px;
}

.form label {
    position: relative;
    width: 100%;
}

.form label .input {
    width: 100%;
    padding: 10px 10px 20px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 5px;
    transition: border-color 0.3s ease-in-out;
    /* Agrega transición para suavizar el cambio */
}

.form label .input:focus,
.form label .input:valid {
    border-color: #dd6d2c;
    /* Cambia el color del borde cuando está enfocado o válido */
}

.form label textarea {
    width: 100%;
    padding: 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 5px;
    resize: vertical;
    /* Permite al usuario redimensionar verticalmente el textarea */
}

.form label textarea:focus {
    border-color: #dd6d2c;
    /* Cambia el color del borde al enfocar */
}

.form label textarea:valid {
    border-color: #dd6d2c;
    /* Cambia el color del borde cuando el textarea es válido */
}

.form label textarea:placeholder-shown+span {
    top: 40px;
    /* Ajusta la posición del texto de placeholder */
    font-size: 0.9em;
}

.form label textarea:focus+span,
.form label textarea:valid+span {
    top: 50px;
    /* Ajusta la posición del texto cuando el textarea está enfocado o es válido */
    font-size: 0.7em;
    font-weight: 600;
}

.form label .input+span {
    position: absolute;
    left: 10px;
    top: 15px;
    color: grey;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
}

.form label .input:placeholder-shown+span {
    top: 15px;
    font-size: 0.9em;
}

.form label .input:valid+span {
    color: green;
}

.input01 {
    width: 100%;
    padding: 10px 10px 20px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 5px;
}

.form label .input01+span {
    position: absolute;
    left: 10px;
    top: 50px;
    color: grey;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
}

.form label .input01:placeholder-shown+span {
    top: 40px;
    font-size: 0.9em;
}

.form label .input01:focus+span,
.form label .input01:valid+span {
    top: 50px;
    font-size: 0.7em;
    font-weight: 600;
}

.form label .input01:valid+span {
    color: green;
}

.fancy {
    background-color: transparent;
    border: 2px solid #ffa500;
    border-radius: 25px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-weight: 390;
    letter-spacing: 2px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 8px 30px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    transition: all 0.3s ease-in-out;
    user-select: none;
    font-size: 13px;
}


/* .fancy::before {
    content: " ";
    width: 1.7rem;
    height: 2px;
    background: #cacaca;
    top: 50%;
    left: 1.5em;
    position: absolute;
    transform: translateY(-50%);
    transform: translateX(230%);
    transform-origin: center;
    transition: background 0.3s linear, width 0.3s linear;
} */

.fancy .text {
    font-size: 1.125em;
    line-height: 1.33333em;
    padding-left: 4.5em;
    display: block;
    text-align: left;
    transition: all 0.3s ease-in-out;
    text-transform: lowercase;
    text-decoration: none;
    color: #818181;
    transform: translateX(30%);
}

.fancy .top-key {
    height: 2px;
    width: 1.5625rem;
    top: -2px;
    left: 0.625rem;
    position: absolute;
    background: white;
    transition: width 0.5s ease-out, left 0.3s ease-out;
}

.fancy .bottom-key-1 {
    height: 2px;
    width: 1.5625rem;
    right: 1.875rem;
    bottom: -2px;
    position: absolute;
    background: white;
    transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy .bottom-key-2 {
    height: 2px;
    width: 0.625rem;
    right: 0.625rem;
    bottom: -2px;
    position: absolute;
    background: white;
    transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy:hover {
    color: white;
    background: #dd6d2c;
}

.fancy:hover::before {
    width: 1.5rem;
    background: white;
}

.fancy:hover .text {
    color: white;
    padding-left: 1.5em;
}

.fancy:hover .top-key {
    left: -2px;
    width: 0px;
}

.fancy:hover .bottom-key-1,
.fancy:hover .bottom-key-2 {
    right: 0;
    width: 0;
}

.form label .input:valid+span,
.form label .input01:valid+span {
    color: green;
}

.btn-custom-orange {
    background-color: #dd6d2c;
    border-color: #dd6d2c;
    /* Opcional: para cambiar el color del borde si es necesario */
    color: #fff;
    /* Color del texto */
}

.btn-custom-lightgray {
    background-color: #d7d1ca;
    border-color: #d7d1ca;
    /* Opcional: para cambiar el color del borde si es necesario */
    color: #000;
    /* Color del texto */
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
    font-weight: 100;
}

h2 {
    font-size: 2em;
    margin-bottom: 1px;
}

.steps {
    display: flex;
    transition: transform 0.3s ease-in-out;
    width: 200%;
    /* Ajusta el ancho para mostrar todos los steps sin scroll */
}

.step {
    flex: 0 0 25%;
    /* Ajusta el tamaño de cada step */
    padding: 20px;
    border-radius: 10px;
    box-sizing: border-box;
    border: 2px solid #E76C5D;
    margin-right: 20px;
    /* Espacio entre steps */
}

@media (max-width: 720px) {
    .step {
        flex: 0 0 50%;
    }
}

.step-title {
    font-size: 1.2em;
    color: #000;
    margin-bottom: 10px;
    font-weight: bold;
}

.step-content h3 {
    margin-top: 0;
}

.navigation {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    /* Alinea los botones de navegación */
    align-items: center;
    width: 100%;
    /* Ajusta el ancho */
}

.navigation button {
    background-color: #dd6d2c;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.navigation button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.wrapper {
    display: inline-flex;
    list-style: none;
    font-family: "Poppins", sans-serif;
    justify-content: center;
}

.wrapper .icon {
    position: relative;
    background: black;
    border-radius: 50%;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #fff;
    color: #fff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #fff;
    bottom: 25px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
    top: 60px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .linkedin:hover,
.wrapper .linkedin:hover .tooltip,
.wrapper .linkedin:hover .tooltip::before {
    background: #0a66c2;
    color: #fff;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
    background: #fff;
    color: #000;
}

.wrapper .Upwork:hover,
.wrapper .Upwork:hover .tooltip,
.wrapper .Upwork:hover .tooltip::before {
    background: #14a800;
    color: #fff;
}

.wrapper .Whatsapp:hover,
.wrapper .Whatsapp:hover .tooltip,
.wrapper .Whatsapp:hover .tooltip::before {
    background: #25d366;
    color: #fff;
}

p {
    font-weight: 400;
}

@keyframes float {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
        /* Ajusta la distancia de la flotación */
    }
}

.floating-image {
    animation: float 3s ease-in-out infinite;
    /* Ajusta la duración y la interpolación de la animación según sea necesario */
}

.custom-btn {
    background-color: #dd6d2c;
    color: #fff;
    border-radius: 5px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
}

.custom-btn:hover {
    background-color: #e67a2c;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);
}

.custom-btn:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(221, 109, 44, 0.5);
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0, 0, 0, .5);
    font-weight: 500;
    padding: 10px;
}

.responsive-heading {
    font-size: 6vw;
    /* Ajuste general del tamaño de la fuente */
}


/* Media queries combinados para mayor control y menor cantidad */


/* Estilos para pantallas pequeñas (menores a 576px) */

@media (max-width: 575.98px) {
    .navbar-brand img {
        width: 100px;
    }
}


/* Estilos para pantallas medianas (576px a 767.98px) */

@media (min-width: 576px) and (max-width: 767.98px) {
    .navbar-brand img {
        width: 150px;
    }
    .responsive-heading {
        font-size: 5vw;
    }
}


/* Estilos para pantallas grandes (768px a 991.98px) */

@media (min-width: 768px) and (max-width: 991.98px) {
    .navbar-brand img {
        width: 200px;
    }
    .responsive-heading {
        font-size: 4vw;
    }
}


/* Estilos para pantallas muy grandes (mayores a 992px) */

@media (min-width: 992px) {
    .navbar-brand img {
        width: 250px;
    }
    .responsive-heading {
        font-size: 3vw;
    }
}


/* Estilos específicos para pantallas extra grandes (mayores a 1200px) */

@media (min-width: 1200px) {
    .responsive-heading {
        font-size: 2.5vw;
    }
}

.navbar-nav .nav-link.custom-btn {
    /* padding: 8px 15px; */
    margin-left: 10px;
    /* Color naranja */
    border-radius: 5px;
    /* Bordes redondeados */
    font-weight: bold;
    /* Texto en negrita */
    transition: background-color 0.3s ease;
    /* Transición suave */
}

.navbar-nav .nav-link.custom-btn:hover {
    background-color: #FF8C00;
    /* Naranja más oscuro al pasar el ratón */
}

.flag-spain {
    display: flex;
    align-items: center;
    /* Centra verticalmente */
    text-decoration: none;
    /* Quita la subraya del enlace */
}

.flag-icon {
    width: 30px;
    /* Ajusta el tamaño de la bandera */
    height: auto;
    /* Mantén la proporción */
    margin-right: 5px;
    /* Espacio entre la bandera y el texto */
}

.language-text {
    color: #fff;
    /* Color del texto */
}

@media (max-width: 500px) {
    .container-fluid {
        max-width: calc(95vw - 30px);
    }
}

.table td,
.table th {
    border: none;
    /* Eliminar bordes de las celdas */
}

.faq-section {
    padding: 50px;
    background-color: #f8f9fa;
}

.faq-container {
    max-width: 800px;
    margin: 0 auto;
}

.faq-header {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 30px;
}

.faq {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: white;
    overflow: hidden;
}

.faq-question {
    padding: 20px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    transition: background-color 0.3s ease;
}

.faq-question:hover {
    background-color: #f0f0f0;
}

.faq-question:after {
    content: '+';
    position: absolute;
    right: 20px;
    font-size: 24px;
    transition: transform 0.3s ease;
}

.faq-answer {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, padding 0.3s ease;
    padding: 0 20px;
    font-size: 16px;
    color: #555;
}

.faq.open .faq-answer {
    max-height: 300px;
    /* Ajusta según la longitud de tus respuestas */
    padding: 20px;
}

.faq.open .faq-question:after {
    content: '-';
    transform: rotate(180deg);
}

.section .container .row {
    display: flex;
    align-items: center;
    /* Alinea verticalmente los elementos */
}

.section .container .row .col-md-6:nth-child(1) {
    order: 1;
    /* Cambia el orden en dispositivos móviles */
}

.section .container .row .col-md-6:nth-child(2) {
    order: 2;
    /* Cambia el orden en dispositivos móviles */
}

@media (max-width: 992px) {
    .section .container .row {
        flex-direction: column;
        /* Cambia a disposición de columna en dispositivos móviles */
    }
}

.custom-img {
    max-width: 100%;
    height: auto;
    /* Ajusta el tamaño máximo de la imagen según sea necesario */
}

.service-icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 1em;
    background: radial-gradient(circle at 50% 50%, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 70%);
}

.service-item h4 {
    margin-bottom: 0.5em;
}

#detalle-servicios-hubspot .service-detail-item {
    transition: transform 0.3s ease;
}

#detalle-servicios-hubspot .service-detail-item:hover {
    transform: translateY(-10px);
}

#detalle-servicios-hubspot h3 {
    color: #dd6d2c;
    margin-bottom: 15px;
}

#detalle-servicios-hubspot p {
    line-height: 1.8;
}

#detalle-servicios-hubspot .service-detail-img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

#detalle-servicios-hubspot .service-detail-img:hover {
    transform: scale(1.05);
}

button:focus {
    outline: none;
}

@media (max-width: 768px) {
    .welcome-content h2 {
        font-size: 3rem !important;
    }
    #detalle-servicios-hubspot .container-fluid .row:nth-of-type(2) {
        margin-top: 10rem;
        /* Ajusta el valor según sea necesario */
    }
    #detalle-servicios-hubspot .container-fluid .row:nth-of-type(3) {
        margin-top: 10rem;
        /* Ajusta el valor según sea necesario */
    }
    #detalle-servicios-hubspot .container-fluid .row:nth-of-type(4) {
        margin-top: 10rem;
        /* Ajusta el valor según sea necesario */
    }
}


/* Estilos para el modal */

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    text-align: center;
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    display: none;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#accept-button {
    background-color: #dd6d2c;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

#welcome-section {
    min-height: calc(25vh + 100px);
}

/* testimonial */

