RewriteEngine On

# Redireccionar URLs terminadas en .php a sus equivalentes sin .php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^/]+)\.php$ /$1 [L,R=301]

# Redireccionar URLs sin .php a sus equivalentes con .php internamente
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^([^/]+)/?$ /$1.php [L]
